body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 13px;
	-webkit-font-smoothing: antialiased;
  margin:0;
  padding:0;
  overflow:hidden;
}

h4 {
	margin-top: 25px;
	margin-bottom: 20px;
	font-size: 1.3em;
    font-weight: normal;
}

.legend-info {
	position: absolute;
	top: 80px;
	right: 25px;
	width: 284px;
	height: 450px;
    background: #fff;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    padding: 12px 24px;
    outline: none;
}

.legend-info.tall {
	height: 680px;
}

.legend-info h3 {
    font-size: 1.5em;
    font-weight: 300;
    margin: 8px 0;
    text-transform: uppercase;
}

.top-list {
	margin-top: 20px;
}

.list-item {
	box-sizing: border-box;
	width: 50%;
	display: inline-block;
	margin-bottom: 15px;
}

.museum-name {
	text-transform: uppercase;
    font-size: .833em;
}

.museum-number {
	font-size: 2.1em;
	font-weight: bold;
	margin: 5px 0;
}

.description {
	margin-bottom: 30px;
    font-weight: 200;
    font-size: 1.05em;
}

.controls {
	width: 100%;
	height: 300px;
}

.header {
	padding: 15px 20px;
    box-shadow: 0 0 4px rgba(0,0,0,.15);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: white;
    height: 25px;
}

.site-title {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

.site-tabs {
	position: absolute;
	right: 20px;
	top: 0px;
	height: 50px;
	width: 800px;
}

.tab-item {
	float: right;
	padding: 17.5px 3px;
	margin: 0 15px;
	color: #444;
	display: inline-block;
	text-transform: uppercase;
    font-size: 1em;
    font-weight: 400;
    cursor: pointer;
    box-sizing: border-box;
    border-bottom: 5px solid white;
}

.tab-item:hover {
	color: black;
}

.tab-item.selected {
	border-color: #333;
}

.input-toggle {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

.input-toggle:before {
  content: "to";
  left: 3px;
  color: #fff;
}

.input-toggle:after {
  content: "from";
  right: 0;
}

.input-toggle:before, .input-toggle:after {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 12px 16px;
  font-size: 12px;
  z-index: 0;
}

.input-toggle input {
  position: absolute;
  z-index: 1;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.input-toggle input:checked ~ .input-toggle-handle {
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px #41619f;
}

.input-toggle input:checked ~ .input-toggle-handle:before {
  left: 50%;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px #41619f, 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.input-toggle-handle {
  display: block;
  width: 92px;
  height: 44px;
  background-image: -webkit-linear-gradient(#7088b7, #a0b0cf);
  background-image: linear-gradient(#7088b7, #a0b0cf);
  border-radius: 10em;
  -webkit-transition: background-image .4s ease;
  transition: background-image .4s ease;
  box-shadow: inset 0 1px rgba(0, 0, 0, 0.15), inset 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 44px 44px #fff;
}

.input-toggle-handle:before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 6px;
  left: 8px;
  width: 40px;
  height: 32px;
  -webkit-transition: .4s ease;
  transition: .4s ease;
  background: #fff;
  border-radius: 10em;
  box-shadow: inset 0 -1px rgba(0, 0, 0, 0.2), inset 0 0 0 1px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.1), 0 6px 12px rgba(0, 0, 0, 0.1);
}

.to-from-toggle {
	position: absolute;
	top: 80px;
	right: 360px;
	width: 100px;
	height: 50px;
}
